/* MIN-WIDTH 991 */
@media only screen and (min-width: 991px) and (max-width: 1200px)  {
    .wrapper{
        min-width: 991px;
    }
    /* PRE TOP MENU */
    .top-bar{
        min-width: 991px;
    }
    .top-left-icon{
        margin: auto 50px;
        width: 250px;
    }
    .top-left-icon img{
        width: 20px;
        height: 20px;
    }
    #yt-img{
        height: 16.45px;
        margin-top: 3px;
    }
    .top-right-info ul{
        margin-right: 50px;
    }
    
    /* WHITE LOGO MENU*/
    .logo img{
        width: 130px;
        height: 50.96px;
        margin: auto 50px;
    }
    .menu{
        margin: auto 50px;
    }
    #bar-black{
        display: none;
    }
    /* HERO SECTION */
    .hero-heading{
        margin-left: 80px;
    }
    .hero-heading h1{
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
    }
    .hero-heading p{
        width: 320px;
    }
    .hero-btn{
        margin-left: 80px;
    }
    .hero-btn p{
        letter-spacing: 1px;
    }
    /* HERO BOTTOM IMAGES SECTION */
    .img1 img{
        width: 450px;
        height: 280px;
    }
    /* NEW ARRIVALS */
    .new-arrivals-cont{
        min-width: 991px;
    }
    .new-arrivals{
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    .new-arrivals p{
        width: 600px;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 0;
    }
    /* PRODUCT CONTAINER */
    .Products-imgs-cont{
        justify-content: space-evenly;
        width: 900px;
        height: 700px;
        margin-top: 10px;
    }
    .product{
        width: 200px;
        justify-content: center;
        align-items: center;
    }
    .product p{
        font-size: 14px;

    }
    .product span{
        font-size: 14px;
    }
    .product img{
        width: 200px;
        height: 200px;
    }
    .add-to-cart{
        width: 200px;
        height: 30px;
    }
    .add-to-cart p{
        font-size: 12px;
    }
    .add-to-cart img{
        width: 16px;
        height: 16px;
    }
     /* CUSTOMERS REVIEWS */
     .customer-reviews-cont{
        width: 100%;
        height: 700px;
        margin-top: 40px;
        gap: 50px;
    }
    .customer-review-text span{
        font-size: 18px;
    }
    .customer-review-img img{
        width: 450px;
        height: 550px; 
    }
    .customer-review-text h5{
        font-size: 28px;
    }
    .customer-review-text p{
        font-size: 16px;
    }
    /* LATEST NEWS */
    .latest-news-cont{
         width: 991px; 
        height: 500px; 
    }
    .latest-news-text{
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    .latest-news-text p{
        font-size: 16px;
        font-weight: 300;
    }
    .latest-news-images{
        margin-top: 40px;
        gap:30px;
    }
    .latest-news-img{
        gap: 10px;
    }
    .latest-news-img span{
        width: 250px;
        font-size: 12px;
        font-weight: 500;
    }
    .latest-news-img p{
       width: 270px;
    }
    .latest-news-img img{
        width: 280px;
        height: 170px;
    }
    /* SHIPPING SECTION */
    .shipping-sec{
        height: 250px;
    }
    #shipping-second img{
        margin-left: -40px;
    }
    /* FOOTER */
    .footer-cont{
        height: 600px;
    }
    .footer-info{
        width: 991px;
        flex-wrap: wrap;
    }
    .footer-logo{
        margin-left: 50px;
        margin-top: 25px;
    }
    .footer-text{
        width: 150px;
    }
    .media-footer{
        align-items: center;
        width: 288px;
        margin: 30px 0;
    }
    .media-touch{
        align-items: center;
        gap: 10px;
        margin-top: 15px;
    }
    .media-touch p {
        text-align: center;
    }
    .email-text{
        width: 476px;
    }

    /* FOOTER ICONS */
    .footer-icons-cont{
        padding: 0 0;
        justify-content: space-around;
    }
    #copy{
        display: none;
    }
    .copyright-cont p{
        font-size: 12px;
        font-weight: 300;
        font-family: "poppins";
    }
    
    .copyright-cont span{
        font-size: 14px;
        font-weight: 500;
    }
}