/* MAX-WIDTH 576px */
@media only screen and (max-width: 576px){
    .wrapper{
        width: 576px;
    }
    /* PRE TOP MENU */
     .top-bar{
        width: 576px;
    }
    .top-left-icon{
        margin: auto 50px;
        width: 150px;
    }
    .top-left-icon img{
        width: 17px;
        height: 17px;
    }
    #yt-img{
        height: 13.45px;
        margin-top: 2.5px;
    }
    .top-right-info{
        display: none;
    }
    #bar{
        display: flex;
    }
    
    /* WHITE LOGO MENU*/
    .logo img{
        width: 120px;
        height: 50.96px;
        margin: auto 50px;
    }
    .menu{
        display: none;
    }
    #bar-black{
        display: flex;
    }
    /* HERO SECTION */
    .hero-heading{
        margin-left: 50px;
    }
    .hero-heading h1{
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
    }
    .hero-heading p{
        width: 250px;
    }
    .hero-btn{
        margin-left: 50px;
    }
    .hero-btn p{
        letter-spacing: 1px;
    }
    /* HERO BOTTOM IMAGES SECTION */
    .img-parent-cont{
        flex-direction: column;
        align-items: center;
    }
    .img1 img{
        width: 530px;
        height: 300px;
    }
    /* NEW ARRIVALS */
    .new-arrivals-cont{
        width: 576px;
    }
    .new-arrivals{
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    .new-arrivals p{
        font-size: 16px;
        font-weight: 300;
    }
    
    /* PRODUCT CONTAINER */
    .Products-imgs-cont{
        flex-direction: column;
        flex-wrap: nowrap;
        width: 576px;
        height: 4500px;
        gap: 30px;
        margin-top: 30px;
    }
    .product{
        width: 576px;
        align-items: center;
        gap: 10px;
    }
    .product p{
        font-size: 20px;
    }
    .product span{
        font-size: 22px;
    }
    .product img{
        width: 450px;
        /* width: 420px; */
        height: 400px;
    }
    .add-to-cart{
        width: 420px;
    }
    .add-to-cart img{
        width: 23px;
        height: 23px;
    }
    /* CUSTOMERS REVIEWS */
    .customer-reviews-cont{
        width: 576px;
        height: 800px;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 60px;
    }
    #CRT{
        gap: 10px;
    }
    .customer-review-text span{
        font-size: 20px;
    }
    .customer-review-img img{
        width: 450px;
        height: 370px; 
    }
    .customer-review-text p{
        font-size: 16px;
    }
    /* LATEST NEWS */
    .latest-news-cont{
        width: 576px;
        height: 1580px;
    }
    .latest-news-text{
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    .latest-news-text p{
        font-size: 16px;
        font-weight: 300;
    }
    .latest-news-images{
        flex-direction: column;
        margin-top: 40px;
        gap: 40px;
    }
    .latest-news-img{
        gap: 10px;
    }
    .latest-news-img img{
        width: 530px;
        height: 300px;
    }
    /* SHIPPING SECTION */
    .shipping-sec{
        flex-direction: column;
        height: 250px;
    }
    #shipping-second img{
        margin-left: -40px;
    }
    /* FOOTER */
    .footer-cont{
        height: 600px;
    }
    .footer-info{
        width: 576px;
        flex-wrap: wrap;
    
    }
    .footer-logo{
        width: 576px;
        justify-content: center;
        align-items: center;
    }
    .footer-text{
        width: 150px;
    }
    .media-footer{
        align-items: center;
        width: 288px;
        margin: 30px 0;
    }
    .media-touch{
        align-items: center;
        gap: 10px;
    }
    .media-touch p {
        text-align: center;
    }
    .email-text{
        width: 476px;
    }
    /* FOOTER ICONS */
    .footer-icons-cont{
        width: 576px;
        padding: 0 0;
        justify-content: space-around;
    }
    .copyright-cont{
         display: none;
    }
    #copy{
        /* width: 476px; */
        display: flex;
    }
    .copyright-cont p{
        font-size: 12px;
        font-weight: 300;
        font-family: "poppins";
    }
    
    .copyright-cont span{
        font-size: 14px;
        font-weight: 500;
    }

}
